:root{
    --swiper-navigation-size:16px !important;
    --swiper-theme-color:darkblue !important;
}
*{
    margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:thistle;
}
.container{
    padding: 20px;
    max-width: 1000px;
    width: 90%;
    height: 500px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px grey;
}
.container h2{
    margin-bottom: 20px;
}
.product-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 89%;
}
/* Categories design */
.product-categories{
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    -webkit-user-select:none;-moz-user-select:-moz-none;
    -ms-user-select:none;user-select:none;
}
.category{
    list-style-type:none;
    padding: 10px;
    padding-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    cursor: pointer;
    margin-bottom: 5px;
}
.category:hover{
    background-color: rgba(0, 0, 139, 0.1);
}
.category-active{
    box-shadow: -5px 0px 0px 0px darkblue;
    background-color:rgba(0, 0, 139, 0.1);
}
/* Slider & product container design */
.products{
    width: 76%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper{
    width: 100%;
    height: 100%;
}
.button{
    background-color: darkblue;
    opacity: .7;
    color: white !important;
    padding: 30px;
    border-radius: 40%;
    transform: translateY(-50px) !important;
    transition: .2s box-shadow;
}
.button:hover{
    box-shadow: 0 0 0 2px darkblue;
}
.swiper-button-prev{
    left: -30px !important;
}
.swiper-button-prev::after{
    transform: translateX(15px);
    font-weight: 900;
}
.swiper-button-next{
    right: -30px !important;
}
.swiper-button-next::after{
    transform: translateX(-15px);
    font-weight: 900;
}
/* Product design */
.product{
    display: flex;
    flex-direction: column;
    width: 220px !important;
    height: 95% !important;
    -webkit-user-select:none;-moz-user-select:-moz-none;
    -ms-user-select:none;user-select:none;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
.product-image{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.product-image > img{
    width: 200px;
    height: 200px;
    transition: .2s;
}
.product-image > img:hover{
    transform: scale(1.05);
}
.product-name{
    min-height: 34px;
    font-size: 13px;
    font-weight: 700;
    margin: 10px 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-price{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 10px 5px;
}
.product-price > .old-price{
    color: grey;
    font-size: 11px;
    text-align: right;
    font-weight: 700;
    margin-right: 5px;
    text-decoration:line-through;
    text-decoration-thickness: 1px;
    transform: translateY(1px);
}
.product-price > .new-price{
    color: darkblue;
    font-size: 16px;
    text-align: right;
    font-weight: 900;
}
.product-button{
    padding: 10px;
    background-color: rgba(0, 0, 139, 0.1);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s box-shadow;
    font-weight: 700;
}
.product-button:hover{
    box-shadow: 0 0 0 2px rgba(0, 0, 139, 0.1);
}
.product-shipping{
    font-size: 10px;
    font-weight: 900;
    text-align: right;
    margin:10px 5px 0;
}
.product-shipping > i{
    color: green;
}
/* Popup Design */
.popup{
    background-color: white;
    color: rgb(0, 0, 75);
    width: 370px;
    height: 70px;
    z-index: 20;
    position: fixed;
    right: 10px;
    bottom: -100px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px grey;
    transition: .15s;
}
.popup > i{
    font-size: 24px;
    margin: 20px;
    cursor: pointer;
}
.popup-container{
    display: flex;
    align-items: center;
}
.popup-container > i{
    font-size: 30px;
    margin: 20px;
}
.popup-text{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

/* Mobile phone design */
@media(max-width: 480px) {
    .container{
        width: 95%;
        padding: 0px;
    }
    .container h2{
        margin-top: 20px;
        text-align: center;
    }
    .product-container{
        flex-direction: column;
    }
    .product-categories{
        flex-direction: row;
        width: auto;
        height: auto;
        overflow-x: scroll;
        margin: 0;
        margin-left: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid lightgray;
    }
    .product-categories::-webkit-scrollbar {
        height: 3px;
    }
    .product-categories::-webkit-scrollbar-track {
        display: none;
    }
    .product-categories::-webkit-scrollbar-thumb {
        background-color: darkblue;
        border-radius: 50px;
    }
    
    .category{
        overflow:visible;
        cursor: pointer;
        margin-right: 5px;
        padding-bottom: 15px;
    }
    .category-active{
        box-shadow: 0px 5px 0px 0px darkblue;
        box-shadow: none;
        background-color:rgba(0, 0, 139, 0.1);
    }
    .products{
        width: 100%;
        margin-bottom: 10px;
    }
    .product{
        margin-left: 5px !important;
    }
    .button{
        display: none !important;
    }
    .popup{
        right: auto;
    }
}